User-agent: *
Allow: *
Disallow: /search

User-agent: archive.org_bot
Disallow: /

User-agent: ia_archiver
Disallow: /

User-agent: ia_archiver-web.archive.org 
Disallow: /

User-agent: TinEye
Disallow: /

Sitemap: {{template "site_host" .}}/sitemap.xml