<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <url>
      <loc>{{template "site_host" .}}/</loc>
      <changefreq>weekly</changefreq>
      <priority>1</priority>
   </url>
   <url>
      <loc>{{template "site_host" .}}/about</loc>
      <changefreq>monthly</changefreq>
   </url>
   <url>
      <loc>{{template "site_host" .}}/terms-of-service</loc>
      <changefreq>never</changefreq>
      <priority>0.1</priority>
   </url>
   <url>
      <loc>{{template "site_host" .}}/privacy-policy</loc>
      <changefreq>never</changefreq>
      <priority>0.1</priority>
   </url>
</urlset> 
